<template>
  <div class="login_box">
    <div>
        
    </div>
  </div>
</template>

<script lang="ts" setup>

</script>

<style lang="less" scoped>
.login_box {
    width: 100%;
    height: 100%;
}
</style>>
